@font-face {
    font-family: 'Poppins';
    src: url('./fonts/Poppins-Regular.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap; /* Загружает текст сразу, не дожидаясь загрузки шрифта. */
}

@font-face {
    font-family: 'Poppins';
    src: url('./fonts/Poppins-SemiBold.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap; /* Загружает текст сразу, не дожидаясь загрузки шрифта. */
}

@font-face {
    font-family: 'Poppins';
    src: url('./fonts/Poppins-Medium.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap; /* Загружает текст сразу, не дожидаясь загрузки шрифта. */
}

@font-face {
    font-family: 'Poppins';
    src: url('./fonts/Inter18pt-Bold.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap; /* Загружает текст сразу, не дожидаясь загрузки шрифта. */
}

@font-face {
    font-family: 'Poppins';
    src: url('./fonts/Inter18pt-Medium.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap; /* Загружает текст сразу, не дожидаясь загрузки шрифта. */
}

@font-face {
    font-family: 'Poppins';
    src: url('./fonts/Inter18pt-Regular.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap; /* Загружает текст сразу, не дожидаясь загрузки шрифта. */
}

@font-face {
    font-family: 'Poppins';
    src: url('./fonts/Inter18pt-SemiBold.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap; /* Загружает текст сразу, не дожидаясь загрузки шрифта. */
}

@import url(https://github.com/csstools/normalize.css);


body {
    font-family: 'Poppins';
    margin: 0;
    
}

* {
    box-sizing: border-box;
}

header {
    background-color: #000000;
    height: 48px; 
    padding: 10px 0;  
}

nav {
    width: 960px;
    margin: 0px 0px 0px 445px;
    display: flex;
    justify-content: space-between;
}

.text-notification {
    color: #FFFFFF;
    width: 615px;
    text-align: center;
    line-height: 2;
}

.selected-lang {
    cursor: pointer;
    color: #FFFFFF;
    justify-content: space-between;
    display: flex;
    line-height: 2;
    width: 100px;
}

.selected-lang::before {
    width: 32px;
    height: 32px;
}

.lang-menu {
    position: relative;
}

.lang-menu ul {
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
    border: 1px solid #FFFFFF;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
}

.lang-menu ul li {
    list-style: none;
}

.lang-menu ul li a {
    width:  125px;
    display: block;
    padding: 4px 10px;
}

.lang-menu ul li a:before {
    vertical-align: middle;
}

.lang-menu ul li a:hover {
    background-color: #f2f2f2;
}

a {
    text-decoration: none;
}

.lang-menu:hover ul {
display: block;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    text-transform: uppercase;
}

.main-header {
    display: flex;
    padding-top: 40px;
    padding-left: 135px;
    padding-bottom: 15px;
}

.site-name {
    font-size: 25px;
    padding-top: 5px;
}

.site-menu {
    margin: 0px 0px 0px 160px;
    padding-top: 13px;
}

.site-menu a {
    margin-right: 48px;
}

* {box-sizing: border-box;}
form {
    position: relative;
    width: 300px;
    margin: 0px 24px 0px 130px;
    background: #ededed;
    border-radius: 10px;
}

input, button {
    border: none;
    outline: none;
    background: transparent;
}
input {
    width: 100%;
    height: 42px;
    padding-left: 15px;
}
.search-bt {
    height: 42px;
    width: 42px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}
.search-bt:before {
    content: "\f002";
    font-family: FontAwesome;
    font-size: 16px;
    color: #000000;
}

#heart-icon {
    font-size:  22px;
    padding-right: 10px;
}

#cart-icon {
    font-size:  22px;
}

div.purchase-icons {
    margin-top: 11px;
}

.nav-site {
    margin-top: 80px;
    margin-left: 135px;
    margin-bottom: 80px;
}

.contact-table {
    margin-left: 135px;
    width: 530px;
    height: 457px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
}

.contact-table p {
    margin-left: 35px;
}

.krug {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #dd4a4a;
    display: flex;
    margin-left: 35px;
    margin-top: 40px;
}

i.fas.fa-phone-alt {
    color: #FFFFFF;
    padding: 12px 12px 12px 12px;
}

.krug p {
    color: #000000;
    margin: -13px 0px 0px 40px;
    width: 87px;
    height: 24px;
    font-size: 12px;
}

.line1 {
    margin-top: 32px;
    margin-bottom: 32px;
    margin-left: 32px;
}

.table-div {
    width: 324px;
    height: 366px;
}

.table {
    display: flex;
}

.enter-table {
    width: 800px;
    height: 457px;
    margin-left: 18px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
}

.input-name {
    width: 235px;
    height: 50px;
    background: #dddddd;
    font-size: 100%;
}

.input-email {
    width: 235px;
    height: 50px;
    background: #dddddd;
    font-size: 100%;
}

.input-phone {
    width: 235px;
    height: 50px;
    background: #dddddd;
    font-size: 100%;
}

.input-msg {
    width: 715px;
    height: 268px;
    background: #dddddd;
    font-size: 100%;
    margin-top: 32px;
}

.send-msg {
    display: inline-block;
    cursor: pointer; 
    font-size:14px;
    text-decoration:none;
    padding: 18px 49px; 
    color:#ffffff;
    background:#fa4b4b;
    border-radius:7px;
    border:2px solid #ffffff;
}

.btn-send {
    margin-top: 32px;
    margin-left: 522px;
}

.footer-site {
    height: 445px;
    background-color: #000000;
    margin-top: 140px;
}

.footer-info {
    padding: 80px 135px 50px 135px;
    display: flex;
}

.exclusive-f {
    color: #FFFFFF;
    margin-right: 67px;
    font-size: 15px;
}

.ex-f-p1 {
    font-size: 24px;
}

.ex-f-p2 {
    font-size: 13px;
    color: #9d9d9d;
}

.email-ft {
    width: 180px;
    background: none;
    outline-color: #fff;
    outline-style: auto;
    outline-width: 1px;
}

.download-ft {
    display: flex;
    width: 198px;
    margin-bottom: 24px;
}

.download-ft img {
    margin-right: 9px
}
  
.store-ft {
    display: block;
    margin: 0px;
}

.social-ft i {
    margin-right: 24px;
    font-size: 20px;
}

.qr-code-ft {
    height: 80px;
}

.footer-copyright {
    color: #3f3f3f;
    text-align: center;
}

.footer-copyright p{
    margin: 0;
}

.line-footer {
    display: block;
    border: none;
    border-top: 1px solid #1a1a1a;
    width: 1520px;
}

@media only screen and (min-width: 450px) {
	.product-wrapper {
		width: 50%;
	}
}

@media only screen and (min-width: 768px) {
	.product-wrapper {
		width: 33.333%;
	}
}

@media only screen and (min-width: 1000px) {
	.product-wrapper {
		width: 25%;
	}
}