@font-face {
    font-family: 'Poppins';
    src: url('./fonts/Poppins-Regular.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap; /* Загружает текст сразу, не дожидаясь загрузки шрифта. */
}

@font-face {
    font-family: 'Poppins';
    src: url('./fonts/Poppins-SemiBold.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap; /* Загружает текст сразу, не дожидаясь загрузки шрифта. */
}

@font-face {
    font-family: 'Poppins';
    src: url('./fonts/Poppins-Medium.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap; /* Загружает текст сразу, не дожидаясь загрузки шрифта. */
}

@font-face {
    font-family: 'Poppins';
    src: url('./fonts/Inter18pt-Bold.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap; /* Загружает текст сразу, не дожидаясь загрузки шрифта. */
}

@font-face {
    font-family: 'Poppins';
    src: url('./fonts/Inter18pt-Medium.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap; /* Загружает текст сразу, не дожидаясь загрузки шрифта. */
}

@font-face {
    font-family: 'Poppins';
    src: url('./fonts/Inter18pt-Regular.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap; /* Загружает текст сразу, не дожидаясь загрузки шрифта. */
}

@font-face {
    font-family: 'Poppins';
    src: url('./fonts/Inter18pt-SemiBold.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap; /* Загружает текст сразу, не дожидаясь загрузки шрифта. */
}

@import url(https://github.com/csstools/normalize.css);

body {
    font-family: 'Poppins';
    margin: 0;
    
}

* {
    box-sizing: border-box;
}

header {
    background-color: #000000;
    height: 48px; 
    padding: 10px 0;  
}

nav {
    width: 960px;
    margin: 0px 0px 0px 445px;
    display: flex;
    justify-content: space-between;
}

.text-notification {
    color: #FFFFFF;
    width: 615px;
    text-align: center;
    line-height: 2;
}

.selected-lang {
    cursor: pointer;
    color: #FFFFFF;
    justify-content: space-between;
    display: flex;
    line-height: 2;
    width: 100px;
}

.selected-lang::before {
    width: 32px;
    height: 32px;
}

.lang-menu {
    position: relative;
}

.lang-menu ul {
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
    border: 1px solid #FFFFFF;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
}

.lang-menu ul li {
    list-style: none;
}

.lang-menu ul li a {
    width:  125px;
    display: block;
    padding: 4px 10px;
}

.lang-menu ul li a:before {
    vertical-align: middle;
}

.lang-menu ul li a:hover {
    background-color: #f2f2f2;
}

a {
    text-decoration: none;
}

.lang-menu:hover ul {
display: block;
}

.main-header {
    display: flex;
    padding-top: 40px;
    padding-left: 135px;
    padding-bottom: 15px;
    margin-bottom: 80px;
}

.site-name {
    font-size: 25px;
    padding-top: 5px;
}

.site-menu {
    margin: 0 auto;
    padding-top: 13px;
}

.site-menu a {
    margin-right: 48px;
}

* {box-sizing: border-box;}
form {
    position: relative;
    width: 300px;
    margin: 0 auto;
    background: #ededed;
    border-radius: 10px;
}

input, button {
    border: none;
    outline: none;
    background: transparent;
}
input {
    width: 100%;
    height: 42px;
    padding-left: 15px;
}
.search-bt {
    height: 42px;
    width: 42px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}
.search-bt:before {
    content: "\f002";
    font-family: FontAwesome;
    font-size: 16px;
    color: #000000;
}

#heart-icon {
    font-size:  22px;
    padding-right: 10px;
}

#cart-icon {
    font-size:  22px;
}

.purchase-icons {
    margin: auto;
}

.Create {
    width: 1305px;
    height: 781px;
    margin-right: 135px;
    margin-bottom: 140px;
    display: flex;
}

.img-create {
    width: 805px;
    height: 781px;
    margin-right: 129px;
}

.form-create {
    background: none;
    margin-top: 115px;
}

.form-p1 {
    font-size: 30px;
}

.form_create_button {
    font-size: 15px;
    background-color: #d93d3d;
    color: #f2f2f2;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 40px;
}

.inputemail {
    border: none;                /* Убираем все рамки */
    border-bottom: 2px solid #333; /* Добавляем нижнюю линию */
    outline: none;               /* Убираем синюю обводку при фокусе */
    padding: 5px 0;
}

.inputpassword {
    border: none;                /* Убираем все рамки */
    border-bottom: 2px solid #333; /* Добавляем нижнюю линию */
    outline: none;               /* Убираем синюю обводку при фокусе */
    padding: 5px 0;
}

.footer-site {
    height: 440px;
    background-color: #000000;
    margin-top: 1030px;
}

.footer-info {
    padding: 80px 135px 50px 135px;
    display: flex;
}

.exclusive-f {
    color: #FFFFFF;
    margin-right: 67px;
    font-size: 15px;
}

.ex-f-p1 {
    font-size: 24px;
}

.ex-f-p2 {
    font-size: 13px;
    color: #9d9d9d;
}

.email-ft {
    width: 180px;
    background: none;
    outline-color: #fff;
    outline-style: auto;
    outline-width: 1px;
}

.download-ft {
    display: flex;
    width: 198px;
    margin-bottom: 24px;
}

.download-ft img {
    margin-right: 9px
}
  
.store-ft {
    display: block;
    margin: 0px;
}

.social-ft i {
    margin-right: 24px;
    font-size: 20px;
}

.qr-code-ft {
    height: 80px;
}

.footer-copyright {
    color: #3f3f3f;
    text-align: center;
}

.footer-copyright p{
    margin: 0;
}

.line-footer {
    display: block;
    border: none;
    border-top: 1px solid #1a1a1a;
        width: 1520px;
}

.form-p3 {
    display: inline;
    color: red;
    margin-left: 35px;
}