@font-face {
    font-family: 'Poppins';
    src: url('./fonts/Poppins-Regular.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap; /* Загружает текст сразу, не дожидаясь загрузки шрифта. */
}

@font-face {
    font-family: 'Poppins';
    src: url('./fonts/Poppins-SemiBold.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap; /* Загружает текст сразу, не дожидаясь загрузки шрифта. */
}

@font-face {
    font-family: 'Poppins';
    src: url('./fonts/Poppins-Medium.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap; /* Загружает текст сразу, не дожидаясь загрузки шрифта. */
}

@font-face {
    font-family: 'Poppins';
    src: url('./fonts/Inter18pt-Bold.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap; /* Загружает текст сразу, не дожидаясь загрузки шрифта. */
}

@font-face {
    font-family: 'Poppins';
    src: url('./fonts/Inter18pt-Medium.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap; /* Загружает текст сразу, не дожидаясь загрузки шрифта. */
}

@font-face {
    font-family: 'Poppins';
    src: url('./fonts/Inter18pt-Regular.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap; /* Загружает текст сразу, не дожидаясь загрузки шрифта. */
}

@font-face {
    font-family: 'Poppins';
    src: url('./fonts/Inter18pt-SemiBold.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap; /* Загружает текст сразу, не дожидаясь загрузки шрифта. */
}

@import url(https://github.com/csstools/normalize.css);

body {
    font-family: 'Poppins';
    margin: 0;
}

* {
    box-sizing: border-box;
}

header {
    background-color: #000000;
    height: 48px; 
    padding: 10px 0;  
}

nav {
    width: 960px;
    margin: 0px 0px 0px 445px;
    display: flex;
    justify-content: space-between;
}

.text-notification {
    color: #FFFFFF;
    width: 615px;
    text-align: center;
    line-height: 2;
}

.selected-lang {
    cursor: pointer;
    color: #FFFFFF;
    justify-content: space-between;
    display: flex;
    line-height: 2;
    width: 100px;
}

.selected-lang::before {
    width: 32px;
    height: 32px;
}

.lang-menu {
    position: relative;
}

.lang-menu ul {
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
    border: 1px solid #FFFFFF;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
}

.lang-menu ul li {
    list-style: none;
}

.lang-menu ul li a {
    width:  125px;
    display: block;
    padding: 4px 10px;
}

.lang-menu ul li a:before {
    vertical-align: middle;
}

.lang-menu ul li a:hover {
    background-color: #f2f2f2;
}

a {
    text-decoration: none;
}

.lang-menu:hover ul {
display: block;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    text-transform: uppercase;
}

.main-header {
    display: flex;
    padding-top: 40px;
    padding-left: 135px;
    padding-bottom: 15px;
}

.site-name {
    font-size: 25px;
    padding-top: 5px;
}

.site-menu {
    margin: 0 auto;
    padding-top: 13px;
}

.site-menu a {
    margin-right: 48px;
}

* {box-sizing: border-box;}
form {
    position: relative;
    width: 300px;
    margin: 0 auto;
    background: #ededed;
    border-radius: 10px;
}

input, button {
    border: none;
    outline: none;
    background: transparent;
}
input {
    width: 100%;
    height: 42px;
    padding-left: 15px;
}

#heart-icon {
    font-size:  22px;
    padding-right: 10px;
}

#cart-icon {
    font-size:  22px;
}

.market-nav {
    display: flex;
    margin-top: 80px;
    margin-left: 135px;
    margin-bottom: 80px;
}

.market-nav a {
    margin-right: 15px;
}

.search-bt {
    height: 42px;
    width: 42px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}
.search-bt:before {
    content: "\f002";
    font-family: FontAwesome;
    font-size: 16px;
    color: #000000;
}

.purchase-icons {
    margin: auto;
}

.card-product {
    display: flex;
}

.product {
    display: grid;
    border-radius: 3px;
    position: relative;
    background: #f2f2f2;
    margin: 0 20px 20px 135px;
    text-decoration: none;
    color: #474747;
    z-index: 0;
    height: 138px;
    width: 170px;
}

.product-main {
    display: grid;
    border-radius: 3px;
    position: relative;
    background: #f2f2f2;
    margin: 0 20px 20px 10px;
    text-decoration: none;
    color: #474747;
    z-index: 0;
    height: 600px;
    width: 500px;
}

.description {
    width: 400px;
    height: 600px;
    margin-left: 70px;
}

.d-title {
    font-size: 33px;
    margin: 0px;
}

.d-price {
    font-size: 29px;
}

.d-describe {
    font-size: 18px;
}

.d-color {
    font-size: 29px;
    margin-right: 15px;
    color: #000;
}

.circle1 {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #A0BCE0;
    margin-top: 28px;
    margin-right: 12px;
    display: inline-grid;
}

.circle2 {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #E07575;
    margin-top: 28px;
    margin-right: 12px;
    display: inline-grid;
}

.d-size {
    display: flex;
    margin-top: 20px;
}

.d-size a {
    font-size: 29px;
    margin-right: 24px;
}

.btn {
    font-size: 18px;
    color: #000000;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 5px;
    margin-left: 5px;
    border-color: black;
    border: solid;
    border-width: 1px;
    border-radius: 8px;
}

.counter-buy {
    margin-top: 24px;
    display: flex;
}

.counter-buy button {
    border: solid;
    border-width: 1px;
    border-radius: 6px;
}

.but-c {
    font-size: 20px;
    padding: 9px 14px 8px 14px
}

.btn-buy {
    font-size: 18px;
    background-color: #d93d3d;
    color: #f2f2f2;
    text-align: center;
    white-space: nowrap;
    margin-left: 16px;
    margin-right: 16px;
    width: 165px;
    height: 44px;
}

i.fa-regular.fa-heart {
    font-size: 30px;
    margin: 0;
    padding: 0;
}

.terms-delivery {
    display: flex;
}