@font-face {
    font-family: 'Poppins';
    src: url('./fonts/Poppins-Regular.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap; /* Загружает текст сразу, не дожидаясь загрузки шрифта. */
}

@font-face {
    font-family: 'Poppins';
    src: url('./fonts/Poppins-SemiBold.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap; /* Загружает текст сразу, не дожидаясь загрузки шрифта. */
}

@font-face {
    font-family: 'Poppins';
    src: url('./fonts/Poppins-Medium.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap; /* Загружает текст сразу, не дожидаясь загрузки шрифта. */
}

@font-face {
    font-family: 'Poppins';
    src: url('./fonts/Inter18pt-Bold.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap; /* Загружает текст сразу, не дожидаясь загрузки шрифта. */
}

@font-face {
    font-family: 'Poppins';
    src: url('./fonts/Inter18pt-Medium.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap; /* Загружает текст сразу, не дожидаясь загрузки шрифта. */
}

@font-face {
    font-family: 'Poppins';
    src: url('./fonts/Inter18pt-Regular.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap; /* Загружает текст сразу, не дожидаясь загрузки шрифта. */
}

@font-face {
    font-family: 'Poppins';
    src: url('./fonts/Inter18pt-SemiBold.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap; /* Загружает текст сразу, не дожидаясь загрузки шрифта. */
}

@import url(https://github.com/csstools/normalize.css);


body {
    font-family: 'Poppins';
    margin: 0;
    
}

* {
    box-sizing: border-box;
}

header {
    background-color: #000000;
    height: 48px; 
    padding: 10px 0;  
}

nav {
    width: 960px;
    margin: 0px 0px 0px 445px;
    display: flex;
    justify-content: space-between;
}

.text-notification {
    color: #FFFFFF;
    width: 615px;
    text-align: center;
    line-height: 2;
}

.selected-lang {
    cursor: pointer;
    color: #FFFFFF;
    justify-content: space-between;
    display: flex;
    line-height: 2;
    width: 100px;
}

.selected-lang::before {
    width: 32px;
    height: 32px;
}

.lang-menu {
    position: relative;
}

.lang-menu ul {
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
    border: 1px solid #FFFFFF;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
}

.lang-menu ul li {
    list-style: none;
}

.lang-menu ul li a {
    width:  125px;
    display: block;
    padding: 4px 10px;
}

.lang-menu ul li a:before {
    vertical-align: middle;
}

.lang-menu ul li a:hover {
    background-color: #f2f2f2;
}

a {
    text-decoration: none;
}

.lang-menu:hover ul {
display: block;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    text-transform: uppercase;
}

.main-header {
    display: flex;
    padding-top: 40px;
    padding-left: 135px;
    padding-bottom: 15px;
}

.site-name {
    font-size: 25px;
    padding-top: 5px;
}

.site-menu {
    margin: 0 auto;
    padding-top: 13px;
}

.site-menu a {
    margin-right: 48px;
}

* {box-sizing: border-box;}
form {
    position: relative;
    width: 300px;
    margin: 0 auto;
    background: #ededed;
    border-radius: 10px;
}

input, button {
    border: none;
    outline: none;
    background: transparent;
}
input {
    width: 100%;
    height: 42px;
    padding-left: 15px;
}
.search-bt {
    height: 42px;
    width: 42px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}
.search-bt:before {
    content: "\f002";
    font-family: FontAwesome;
    font-size: 16px;
    color: #000000;
}

#heart-icon {
    font-size:  22px;
    padding-right: 10px;
}

#cart-icon {
    font-size:  22px;
}

.purchase-icons {
    margin: auto;
}

.product-previews {
    width: 217px;
    height: 344px;
    margin: 56px 0px 0px 94px;
    text-decoration: none;
}

.product-previews ul {
    list-style: none;
    
}

.product-previews li {
    padding-bottom: 19px;
}

.content-page {
    display: flex;
}

.swiper-slide {
    width: 892px;
    height: 344px;
    margin: 56px 135px 140px 61px;
    background-color: #000000;
    display: flex;
}

.swiper-text {
    width: 294px;
    height: 239px;
    margin: 58px 38px 47px 64px;
    color: #f2f2f2;
}

.iPhone {
    display: flex;
}

.iPhone img {
    padding-right: 24px;
}

.iPhone p {
    size: 14px;
}

.voucher {
    margin-top: 20px;
    margin-bottom: 22px;
    font-size: 46px;
}

.iPhone-png {
    margin-top: 20px;
}

.today {
    margin-left: 135px;
    display: flex;
}

.today-top {
    width: 211px;
    height: 103px;
}

.inset {
    float: left; 
    width: 20px; 
    height: 40px; 
    background: #d93d3d;
    border-radius: 4px;
    margin-right: 16px;
}

.today-p1 {
    font-size: 18px;
    margin-top: 10px;
    color: #d93d3d;
}

.today-p2 {
    font-size: 35px;
    margin-top: 24px;
    margin-bottom: 0px;
}

.timer {
    margin-left: 84px;
    display: flex;
    margin-top: 33px;
}

.timer a {
    padding-left: 17px;
    padding-right: 17px;
    margin-top: 15px;
    display: flex;
    font-size: 40px;
    color: #d93d3d;
}

.timer p {
    margin-top: 4px;
    font-size: 35px;
}

.t-day {
    width: 60px;
    height: 60px;
}
.t-hours {
    width: 60px;
    height: 60px;
}
.t-minutes {
    width: 60px;
    height: 60px;
}
.t-seconds {
    width: 60px;
    height: 60px;
}

.today-navigation {
    margin-left: 470px;
}

.myButton {
	background:#d6d6d6;
	background-color:#f2f2f2;
	border-radius:16px;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	font-size:16px;
	padding:11px 11px;
	text-decoration:none;
}
.myButton:hover {
	background:linear-gradient(to bottom, #d6d6d6 5%, #f2f2f2 100%);
	background-color:#d6d6d6;
}
.myButton:active {
	position:relative;
	top:1px;
}

.showcase-of-products {
    width: 1308px;
    height: 350px;
    margin-left: 135px;
    margin-top: 40px;
    margin-bottom: 60px;
}

.product-wrapper {
	display: block;
	width: 100%;
	float: left;
	transition: width .2s;
}

.product {
	display: grid;
	border-radius: 3px;
	position: relative;
	background: #f2f2f2;
	margin: 0 20px 20px 0;
	text-decoration: none;
	color: #474747;
	z-index: 0;
	height: 250px;
    width: 270px;
}

.products {
	list-style: none;
	margin: 0 -20px 0 0;
	padding: 0;
}

.product-photo {
    position: relative;
    text-align: center;
    padding-top: 25px;
}

.heart-bt {
    background-color:#fff;
	border-radius:17px;
	cursor:pointer;
	font-size:17px;
	text-decoration:none;
    padding: 5px;
    text-align: center;
    margin: 12px 12px 204px 224px;
    display: grid;
    position: absolute;
}

.eye-bt {
    background-color:#fff;
	border-radius:17px;
	cursor:pointer;
	font-size:15px;
	text-decoration:none;
    padding: 5px;
    text-align: center;
    display: grid;
    position: absolute;
    margin: 44px 18px 0px 224px
}

.all-products-bt {
    font-size: 18px;
    background-color: #d93d3d;
    color: #f2f2f2;
    text-align: center;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 48px;
    padding-right: 48px;
    margin-right: 483px;
    margin-left: 483px;
}

.div-main-line {
    margin: 60px 0px 0px 0px;
}

.div-main-line2 {
    margin: 10px 0px 0px 0px;
}

.line {
    display: block;           /* Линия достойно занимает своё место */
    height: 3px;              /* Деликатный акцент для разделения */
    border: none;             /* Отсутствие рамок упрощает визуальную часть */
    border-top: 3px solid #ccc; /* Внимание концентрируется на верхней границе */
    margin: 1266px 0px 80px 135px;            /* Дарим пространство сверху и снизу */
    padding: 0px 0px 0px 0px;
    width: 1170px;
}

.categories {
    margin-left: 135px;
    display: flex;
}

.categories-top {
    width: 379px;
    height: 108px;
}

.categories-p1 {
    font-size: 18px;
    margin-top: 10px;
    color: #d93d3d;
}

.categories-p2 {
    font-size: 35px;
    margin-top: 24px;
    margin-bottom: 0px;
}

.categories-navigation {
    margin-left: 760px;
}

.categories-wrapper {
	display: block;
	width: 100%;
	float: left;
	transition: width .2s;
    padding-right: 30px;
}

.categories-name:hover {
    background-color: #d93d3d;
    color: #fff;
}

.categories-name {	
	border-radius: 3px;
	position: relative;
    border: 2px solid #d6d6d6;
	margin: 0 20px 20px 0;
	text-decoration: none;
	color: #474747;
	height: 145px;
    width: 170px;
    display: grid;
    text-align: center;
    font-size: 18px;
}

i.fa-solid.fa-mobile-screen {   
    font-size: 45px;
    margin-top: 26px;  
}

i.fa-solid.fa-display {
    font-size: 45px;
    margin-top: 26px; 
}

i.fa-solid.fa-display {
    font-size: 45px;
    margin-top: 26px; 
}

i.fas.fa-camera-retro {
    font-size: 45px;
    margin-top: 26px; 
}

i.fas.fa-headphones-alt {
    font-size: 45px;
    margin-top: 26px; 
}

i.fa-solid.fa-gamepad {
    font-size: 45px;
    margin-top: 26px; 
}

i.fa-regular.fa-clock {
    font-size: 45px;
    margin-top: 26px; 
}

.showcase-of-categories {
    width: 1308px;
    height: 256px;
    margin-left: 97px;
}

.ul-categories {
    display: inline-flex;
}

/* Для This Month*/
/* Для This Month*/
/* Для This Month*/
/* Для This Month*/

.this-month {
    margin-left: 135px;
    display: inline-flex
}

.month-top {
    width: 379px;
    height: 108px;
}

.month-p1 {
    font-size: 18px;
    margin-top: 10px;
    color: #d93d3d;
}

.month-p2 {
    font-size: 35px;
    margin-top: 24px;
    margin-bottom: 0px;
}

.month-allbt {
    margin-left: 741px;
}

.all-mth-bt {
    font-size: 14px;
    background-color: #d93d3d;
    color: #f2f2f2;
    text-align: center;
    padding-bottom: 16px;
    padding-left: 48px;
    padding-right: 48px;
    padding-top: 16px;
    white-space: nowrap;
    border-radius: 5px;
}

.music-slide {
    width: 1170px;
    height: 500px;
    margin: 145px 135px 71px 145px;
    background-color: #000000;
    display: flex;
}

.SoundBassPNG {
    margin-left: 27px;
    margin-right: 44px;
    margin-top: 35px;
}

.SoundBass {
    display: flex;
}

.SoundBass img {
    padding-right: 24px;
}

.SoundBass p {
    size: 14px;
    color: #00FF66;
}

.swiper-text-sound {
    width: 440px;
    height: 239px;
    margin: 58px 38px 47px 64px;
    color: #f2f2f2;
}

.voucher {
    font-size: 46px;
}

.shopNOW-bt {
    background-color: #00FF66;
    color: #fff;
    width: 171px;
    height: 56px;
    font-size: 15px;
}

.circle-line {
    color: black;
    text-align: center;
    display: flex;
    list-style: none;
    padding-left: 0px;
}

.circle {
    width: 62px;
    height: 62px;
    border-radius: 50%;
    background: #FFFFFF;
    margin-bottom: 30px;
    margin-top: 28px;
    margin-right: 12px;
    display: grid;
}

.circle-number {
    font-size: 12px;
}

.our-products-navigation {
    margin-left: 790px;
}

.our-products {
    margin-left: 135px;
    display: inline-flex
}

.explore-our-products {
    width: 379px;
    height: 108px;
}

.ourproducts-p1 {
    font-size: 18px;
    margin-top: 10px;
    color: #d93d3d;
}

.ourproducts-p2 {
    font-size: 35px;
    margin-top: 24px;
    margin-bottom: 0px;
}

.featured {
    margin-top: 140px;
    margin-left: 135px;
    margin-bottom: 60px;
}

.featured-p1 {
    font-size: 18px;
    margin-top: 10px;
    color: #d93d3d;
}

.featured-p2 {
    font-size: 35px;
    margin-top: 35px;
    margin-bottom: 60px;
}

.arrival-products {
    margin-left: 135px;
    margin-right: 135px;
    margin-bottom: 140px;
    display: flex;
    color: #FFFFFF;
}

.arrival-products a {
    color: #fff;
}

.square1 {
    background-color: #0D0D0D;
    width: 570px;
    height: 600px;
    margin-right: 30px;
    position: relative;
    overflow: hidden;
}

.square1 img {
    margin-top: 89px;
    margin-left: 29px;
    display: block;
}

.text-overlay {
    transform: translate(-50%, -50%);
    position: absolute;
    top: 45%;
    left: 45%;
    width: 80%;
    padding-top: 445px;
}

.text-overlay-wcollection {
    transform: translate(-50%, -50%);
    position: absolute;
    top: 45%;
    left: 45%;
    width: 80%;
    padding-top: 120px;
}

.txt-ov-p1 {
    font-size: 25px;
}

.sq {
    width: 570px;
    height: 600px;
    display: grid;
}

.sq2 {
    width: 570px;
    height: 285px;
    display: flex;
}

.square2 {
    background-color: #0D0D0D;
    width: 570px;
    height: 284px;
    margin-bottom: 32px;
    position: relative;
    overflow: hidden;
}

.square2 img {
    margin-left: 125px;
    display: block;
}

.square3 {
    background-color: #0D0D0D;
    width: 270px;
    height: 284px;
    margin-right: 30px;
    position: relative;
    overflow: hidden;
}

.square3 img {
    margin-top: 40px;
    margin-left: 29px;
    display: block;
}

.text-overlay-speak {
    transform: translate(-50%, -50%);
    position: absolute;
    top: 38%;
    left: 47%;
    width: 80%;
    padding-top: 165px;
}

.square4 {
    background-color: #0D0D0D;
    width: 270px;
    height: 284px;
    position: relative;
    overflow: hidden;
}

.square4 img {
    margin-top: 40px;
    margin-left: 49px;
    display: block;
}

.text-overlay-gucci {
    transform: translate(-50%, -50%);
    position: absolute;
    top: 39%;
    left: 48%;
    width: 80%;
    padding-top: 170px;
}

.exlusive-delivery {
    margin-left: 249px;
    margin-right: 248px;
    margin-top: 140px;
    margin-bottom: 140px;
    width: 943px;
    height: 161px
}

.ul-delivery {
    list-style: none;
    padding: 0;
    display: flex;
}

.features {
    margin-left: 40px;
    margin-right: 40px;
}

.krug {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: #000000;
    margin-left: 84.5px;
    margin-right: 84.5px;
    border: 10px solid #afafaf;
}

i.fas.fa-truck {
    color: rgb(255, 255, 255);
    font-size: 25px; 
    margin: 19px 0px 0px 15px;
}

i.fas.fa-headset {
    color: rgb(255, 255, 255);
    font-size: 32px;
    margin: 17px 0px 0px 13px;
}

i.fas.fa-check-circle {
    color: rgb(255, 255, 255);
    font-size: 32px;
    margin: 17px 0px 0px 13px;
}

.circle-line-delivery {
    display: block;
    text-align: center;
}

.circle-p2 {
    font-size: 13px;
}

.delivery-p {
    margin-top: 59px;
    width: 391px;
    height: auto;
    font-size: 17px;
    display: flex;
    text-align: center;
    align-items: center;
}

.delivery-p p {
    margin-right: 88px;
    margin-left: 88px;
}

.footer-site {
    height: 440px;
    background-color: #000000;
    margin-top: 140px;
}

.footer-info {
    padding: 80px 135px 50px 135px;
    display: flex;
}

.exclusive-f {
    color: #FFFFFF;
    margin-right: 67px;
    font-size: 15px;
}

.ex-f-p1 {
    font-size: 24px;
}

.ex-f-p2 {
    font-size: 13px;
    color: #9d9d9d;
}

.email-ft {
    width: 180px;
    background: none;
    outline-color: #fff;
    outline-style: auto;
    outline-width: 1px;
}

.download-ft {
    display: flex;
    width: 198px;
    margin-bottom: 24px;
}

.download-ft img {
    margin-right: 9px
}
  
.store-ft {
    display: block;
    margin: 0px;
}

.social-ft i {
    margin-right: 24px;
    font-size: 20px;
}

.qr-code-ft {
    height: 80px;
}

.footer-copyright {
    color: #3f3f3f;
    text-align: center;
}

.footer-copyright p{
    margin: 0;
}

.line-footer {
    display: block;
    border: none;
    border-top: 1px solid #1a1a1a;
        width: 1520px;
}


@media only screen and (min-width: 450px) {
	.product-wrapper {
		width: 50%;
	}
}

@media only screen and (min-width: 768px) {
	.product-wrapper {
		width: 33.333%;
	}
}

@media only screen and (min-width: 1000px) {
	.product-wrapper {
		width: 25%;
	}
}